.DS_Store
node_modules
dist
packages/*/dist
**/.turbo/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Non-yarn Package managers
.package-lock.json

# Storybook
packages/*/storybook-static/


# Yarn (https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#CLI Templates
packages/cli/templates/**/.yarn/*
!packages/cli/templates/**/.yarn/patches
!packages/cli/templates/**/.yarn/plugins
!packages/cli/templates/**/.yarn/releases
!packages/cli/templates/**/.yarn/sdks
!packages/cli/templates/**/.yarn/versions
