/*Layout Styles*/
.container {
  max-width: 22rem;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid var(--light);
  padding: 15px;
  border-radius: 5px;
}

h2 {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  margin: 1rem 0;
}

hr {
  border-top: 1px dashed var(--light);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 1.25rem 0;
}

.counter-value {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  font-size: 1.625rem;
  font-weight: 700;
  text-align: center;
}

.btn {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.8125rem 1rem;
  background: transparent;
  border: 1px solid var(--light);
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.w-full {
  width: 100%;
}

.btn:hover {
  background-color: var(--light_75);
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.btn-close:hover {
  background-color: var(--light_75);
}

.asset-selector img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
