@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body {
  overflow: hidden;
  margin: 0;
  font-size: 62.5%;
  background: transparent;
}

:root {
  --sb_green: #00b3b0;
  --sb_green_75: #40c6c4;
  --sb_green_50: #7fd9d7;
  --sb_green_25: #d9f4f3;
  --sb_dark_blue: #1b243f;
  --sb_dark_blue_75: #545b6f;
  --sb_dark_blue_50: #8d919f;
  --sb_dark_blue_25: #c6c8cf;
  --green: #2db47d;
  --green_75: #62c79e;
  --green_50: #96d9be;
  --green_25: #caecde;
  --green_disabled: #004e4c;
  --yellow: #fbce41;
  --yellow_75: #fcdb71;
  --yellow_50: #fde6a0;
  --yellow_25: #fef3cf;
  --blue: #395ece;
  --blue_75: #6b87db;
  --blue_50: #9caee6;
  --blue_25: #cdd7f3;
  --orange: #ffac00;
  --orange_75: #ffc140;
  --orange_50: #ffd57f;
  --orange_25: #ffeabf;
  --red: #ff6159;
  --red_75: #ff8983;
  --red_50: #ffb0ac;
  --red_25: #ffd7d5;
  --light: #dfe3e8;
  --light_75: #e7eaee;
  --light_50: #eff1f3;
  --light_25: #f7f8f9;
  --light_gray: #b1b5be;
  --black: #101525;
  --white: #fff;
}

.sb-button--primary {
  background-color: var(--sb_green);
  filter: brightness(1);
  border: none;
  color: white;
  padding: 12px 28px;
  border-radius: 5px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sb-button--primary:hover:not([disabled]) {
  background-color: rgb(0, 159, 156);
}