@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    overflow: hidden;
    height: 100%;
}

:root {
    /*Storyblok colors*/
    --sb_green: #00b3b0;
    --sb_green_75: #40c6c4;
    --sb_green_50: #7fd9d7;
    --sb_green_25: #d9f4f3;
    --sb_dark_blue: #1b243f;
    --sb_dark_blue_75: #545b6f;
    --sb_dark_blue_50: #8d919f;
    --sb_dark_blue_25: #c6c8cf;
    --green: #2db47d;
    --green_75: #62c79e;
    --green_50: #96d9be;
    --green_25: #caecde;
    --green_disabled: #004e4c;
    --yellow: #fbce41;
    --yellow_75: #fcdb71;
    --yellow_50: #fde6a0;
    --yellow_25: #fef3cf;
    --blue: #395ece;
    --blue_75: #6b87db;
    --blue_50: #9caee6;
    --blue_25: #cdd7f3;
    --orange: #ffac00;
    --orange_75: #ffc140;
    --orange_50: #ffd57f;
    --orange_25: #ffeabf;
    --red: #ff6159;
    --red_75: #ff8983;
    --red_50: #ffb0ac;
    --red_25: #ffd7d5;
    --light: #dfe3e8;
    --light_75: #e7eaee;
    --light_50: #eff1f3;
    --light_25: #f7f8f9;
    --light_gray: #b1b5be;
    --black: #101525;
    --white: #fff;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#app {
    width: 100%;
}

/*Element Styles*/
body {
    margin: 0;
    display: flex;
    box-sizing: border-box;
}

/* #region DELETE THIS BOILERPLATE */
/*Layout Styles*/
.container {
    max-width: 22rem;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid var(--light);
    padding: 15px;
    border-radius: 5px;
}

h2 {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    margin: 1rem 0;
}

hr {
    border-top: 1px dashed var(--light);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 1.25rem 0;
}

.counter-value {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    font-size: 1.625rem;
    font-weight: 700;
    text-align: center;
}

.btn {
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.8125rem 1rem;
    background: transparent;
    border: 1px solid var(--light);
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.w-full {
    width: 100%;
}

.btn:hover {
    background-color: var(--light_75);
}

.btn-close {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
}

.btn-close:hover {
    background-color: var(--light_75);
}

.asset-selector img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.sr-only {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* js template specific styles */
.btn-close {
    display: none;
}

[data-modal-open='true'] .btn-close {
    display: block;
}

.asset-selector img {
    display: none;
}

.asset-selector .btn-remove-asset {
    display: none;
}

.asset-selector.selected img {
    display: inline-block;
}

.asset-selected.selected .btn-remove-asset {
    display: inline-block;
}

.asset-selected.selected .btn-select-asset {
    display: none;
}

/* #endregion */
