name: 'ci-cli'
on:
  push:
    paths:
      - 'packages/cli/**'
jobs:
  basic-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0
          cache: 'yarn'
      - run: yarn install
      - run: yarn eslint packages/cli
      - run: |
          yarn workspace @storyblok/field-plugin-cli test
          yarn workspace @storyblok/manifest-helper test
      - run: yarn build:cli
  standalone-vue2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: yarn dev:cli --dir=${{runner.temp}} --pluginName=temp-single-field-plugin --template=vue2 --structure=standalone --packageManager=npm
      - run: cd ${{runner.temp}}/temp-single-field-plugin && npm link @storyblok/field-plugin && npm run build
  standalone-vue3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: yarn dev:cli --dir=${{runner.temp}} --pluginName=temp-single-field-plugin --template=vue3 --structure=standalone --packageManager=npm
      - run: cd ${{runner.temp}}/temp-single-field-plugin && npm link @storyblok/field-plugin && npm run build
  standalone-react:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: yarn dev:cli --dir=${{runner.temp}} --pluginName=temp-single-field-plugin --template=react --structure=standalone --packageManager=npm
      - run: cd ${{runner.temp}}/temp-single-field-plugin && npm link @storyblok/field-plugin && npm run build
  monorepo-vue2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: yarn dev:cli --dir=${{runner.temp}} --repoName=temp-monorepo-field-plugin --pluginName=test-plugin --template=vue2 --structure=monorepo --packageManager=npm
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
      - run: cd ${{runner.temp}}/temp-monorepo-field-plugin && npm link @storyblok/field-plugin && npm run build --workspace=test-plugin
  monorepo-vue3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: yarn dev:cli --dir=${{runner.temp}} --repoName=temp-monorepo-field-plugin --pluginName=test-plugin --template=vue3 --structure=monorepo --packageManager=npm
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
      - run: cd ${{runner.temp}}/temp-monorepo-field-plugin && npm link @storyblok/field-plugin && cd packages/test-plugin && npx vite build
  monorepo-react:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: yarn dev:cli --dir=${{runner.temp}} --repoName=temp-monorepo-field-plugin --pluginName=test-plugin --template=react --structure=monorepo --packageManager=npm
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
      - run: cd ${{runner.temp}}/temp-monorepo-field-plugin && npm link @storyblok/field-plugin && npm run build --workspace=test-plugin
