name: 'ci-cli'
on:
  push:
    paths:
      - 'packages/cli/**'
jobs:
  basic-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18.16.0
          cache: 'yarn'
      - run: yarn install
      - run: yarn eslint packages/cli
      - run: yarn workspace @storyblok/field-plugin-cli build
  standalone-cli-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: npx field-plugin --dir=${{runner.temp}} --pluginName=temp-single-field-plugin --template=vue2 --structure=standalone --packageManager=npm
      - run: cd ${{runner.temp}}/temp-single-field-plugin && npm link @storyblok/field-plugin && npm run build
  monorepo-cli-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Prepare test environment
        uses: ./.github/actions/cli-checks-env
      - run: npx field-plugin --dir=${{runner.temp}} --repoName=temp-monorepo-field-plugin --pluginName=test-plugin --template=vue2 --structure=monorepo --packageManager=npm
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
      - run: cd ${{runner.temp}}/temp-monorepo-field-plugin && npm link @storyblok/field-plugin && npm run build --workspace=test-plugin
