name: 'ci-cli'
on:
  push:
    paths:
      - 'packages/cli/**'
jobs:
  basic-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.18.1
      - run: yarn install
      - run: yarn eslint packages/cli
      - run: yarn workspace @storyblok/field-plugin-cli build