name: 'ci-js-template'
on:
  push:
    paths:
      - 'packages/cli/templates/js/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 14.19.1
      - run: yarn install
      - run: yarn workspace field-plugin-js-template build
